apturl 
attrs
bcrypt 
blinker 
Brlapi 
certifi 
chardet 
cliapp 
click 
cmdtest 
colorama 
command-not-found 
cryptography 
cupshelpers 
dbus-python 
defer 
distro 
distro-info 
ubuntu
docker 
docker-compose 
dockerpty 
docopt 
duplicity 
fasteners 
future 
gyp 
httplib2 
idna 
importlib-metadata 
jeepney 
jsonschema 
keyring 
language-selector 
launchpadlib 
lazr.restfulclient 
lazr.uri 
lockfile 
louis 
macaroonbakery 
Mako 
Markdown 
MarkupSafe 
monotonic 
more-itertools 
netifaces 
oauthlib 
olefile 
paramiko 
pexpect 
Pillow 
protobuf 
ptyprocess 
pycairo 
pycups 
Pygments 
PyGObject 
PyJWT 
pymacaroons 
PyNaCl 
pyparsing 
pyRFC3339
pyrsistent 
python-apt 
ubuntu2
python-dateutil 
python-debian 
ubuntu1.1
python-dotenv 
pytz 
pyxdg 
PyYAML 
reportlab 
requests 
SecretStorage 
six 
systemd-python
texttable 
ttystatus
ubuntu-advantage-tools 
ubuntu-drivers-common 
ufw 
unattended-upgrades 
urllib3 
usb-creator 
wadllib 
websocket-client 
xdg 
xkit 
zipp 
