{% extends 'layout.html' %}{% block title %} Sobre mi {% endblock %} {% block content %}
<header class="header-projects">
    <h1>SOBRE MI</h1>
    <p class="header-about-p">Desarrollador de Software Fullstack</p>
</header>


<div class="container-about">
    <p>
        ¡Hola, soy Gustavo! Mi trayectoria en el mundo de la tecnología comenzó en 2012, cuando empecé en la reparación de hardware y el diseño gráfico. En 2019, me enfoqué en el desarrollo de sistemas y desde entonces he trabajado en proyectos interesantes y desafiantes.
    </p>
    <p>
        Actualmente, soy desarrollador en <b>Materia Sistemas</b>, una empresa que ofrece apoyo y asesoramiento en proyectos tecnológicos, adaptándose a diversas necesidades y presupuestos. También forme parte de <b> IsurGob </b>, donde contribui en soluciones de gestión para gobiernos locales.
    </p>
    <p>
        Este sitio es mi espacio para compartir proyectos, artículos y reflexiones sobre lo que aprendo en mi día a día. Aquí no encontrarás anuncios, enlaces de afiliados ni publicaciones patrocinadas; mi única motivación es compartir mis conocimientos y conectar con quienes comparten mi pasión por la tecnología.
    </p>
</div>

<div class="container-about">
    <h2>Tecnologias</h2>
    <hr class='line-divisor'>
    <p>
        A lo largo de mi aprendizaje trabaje con un caudal de tecnologias:
    </p>
    <ul>
        <h3>Lenguajes:</h3>
        <li>
            Html
        </li>
        <li>
            Css
        </li>
        <li>
            Js
        </li>
        <li>
            Python
        </li>
        <li>
            Php
        </li>
    </ul>
    <ul>
        <h3>Librerias:</h3>
        <li>
            Jquery
        </li>
        <li>
            Boostrap
        </li>
        <li>
            MUI
        </li>
        <li>
            JsForm
        </li>
    </ul>
    <ul>
        <h3>Framework:</h3>
        <li>
            Django
        </li>
        <li>
            React
        </li>
    </ul>
    <ul>
        <h3>CDM:</h3>
        <li>
            WordPress
        </li>
        <li>
            Prestashop
        </li>
    </ul>
</div>

<div class="container-about">
    <h2>Conectar</h2>
    <hr class='line-divisor'>
    <p>
        Puedes conectar con migo por correo electronico a gusgeneris92@gmail.com para decir Hola. Siempre agradesco conocer gente nueva
    </p>
    <ul>
        <li>
            <a class='enlace-contacto' href="https://github.com/gusgeneris" target="_blank">GitHub</a>
        </li>
        <li>
            <a class='enlace-contacto' href="https://www.linkedin.com/in/gustavo-sandoval/" target="_blank">Linkedin</a>
        </li>
    </ul>
</div>

<!-- <div class="container-about">
    <h2>Herriemtas</h2>
    <hr class='line-divisor'>
    <h3>Software</h3>
    <ul>
        <li>Este sitio web esta alojado en <b> Heroku </b> y utiliza almacenamiento <b>AWS S3</b></li>
        <li>Codificacion : <b>Visual Studio Code</b> con el tema <b>Rainbow Theme-Extends</b> </li>
    </ul>

</div> -->

{% endblock %}